<!-- Tabs -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <a class="nav-link active" id="cricket-tab" data-toggle="tab" href="#cricket" role="tab" aria-controls="cricket"
            aria-selected="true">
            <img src="../assets/image/tab1.png"><span>cricket</span>
        </a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="football-tab" data-toggle="tab" href="#football" role="tab" aria-controls="football"
            aria-selected="false">
            <img src="../assets/image/tab2.png"><span>football</span></a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="baseball-tab" data-toggle="tab" href="#baseball" role="tab" aria-controls="baseball"
            aria-selected="false">
            <img src="../assets/image/tab3.png"><span>baseball</span></a>
    </li>
    <li class="nav-item" role="presentation">
        <a class="nav-link" id="basketball-tab" data-toggle="tab" href="#basketball" role="tab"
            aria-controls="basketball" aria-selected="false">
            <img src="../assets/image/tab4.png"><span>basketball</span></a>
    </li>
</ul>