<!-- <img class="league_img"> -->
<div class="league-header">
    <span class="league-title float-left">test</span>
    <i class='fas fa-share-square float-right'></i>
</div>
<div class="line"></div>
<div class="league-body">
    <img class="team-left float-left" />
    <div class="league-center">
        <span class="time-span" second="0">0D:20H:10M:9S</span>
        <div>
            <img class="team-center" src="../assets/image/teams/center.png">
            <span class="team-center-span">3Crore</span>
        </div>
    </div>
    <img class="team-right float-right" />
    <div class="team-names">
        <span class="left-name float-left"></span>
        <span class="right-name float-right"></span>
    </div>
</div>