.main-div {
    background-color: #f0f0f0;
}


.footer {
    text-align: center;
    font-size: 1.2em;
    margin-bottom: 20px;
}

.import-tag {
    width: 100%;
    height: 140px;
    border-radius: 20px;
    margin: 10px auto;
    background: white;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #e1e1e1;
    margin: 10px 0;
}

.league-header {
    padding: 10px 15px;
    height: 25px;
}

.league-header span, .league-header i {
    line-height: 20px;
    color: gray;
    font-weight: 600;
}


.league-body {
    text-align: center;
}

.league-body>img {
    width: 60px;
    height: auto;
}

.league-center {
    width: 60%;
    display: inline-block;
}

.time-span {
    font-weight: 600;
    color: #0087ff;
}
.team-center-span{
    color: gray;
    font-weight: 600;
}
.team-names{
    padding: 0 10px;
}
.team-names span{
    color: #515151;
    font-weight: 600;
}